html {
  height: 100%;
}
html body {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
html body .container {
  width: 100%;
  overflow-y: auto;
  height: 100%;
  padding: 0px;
}

header {
    width: 100%;
    background-color: #604c8d;
    color: #ffffff;
}

.title{
  background-color: #604c8d;
  color: #ffffff;
}

footer {
  width: 100%;
  /*min-height: 40px;*/
  background-color: #604c8d;
  color: #ffffff;
}

header .subtitle{
  background-color: #8373A9;
  display: flex;
  align-items: center;
}

header .subtitle div{
  padding: 3px 0px;
}

header .subtitle2{
  background-color: #8373A9;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

footer div.row.links {
  display: flex;
  align-items: center;
}

header div.row.title{
  display: flex;
  align-items: center;
}

.modal-header div.title{
  display: flex;
  align-items: center;
}

footer div.row.links div{
  align-items: stretch;
  vertical-align: middle;
}

header div.row.title div{
  align-items: stretch;
  vertical-align: middle;
}

header div.row.title div span{
  align-items: center;
}

footer div.row.links div span{
  align-items: center;
}

.modal{
  z-index: 5000;
}

.modal-header{
  background-color: #604c8d;
  color: #ffffff;
}

.modal-header .logo{
  height: 50px;
}

.links{
  min-height: 40px;
}

.logo{
  height: 67px; /*edad jubilacio JM*/
}

#mapid, #mapid1, #mapid2 {
  height: 100%;
}

.info-btn{
  font-size: 16pt;
  cursor: pointer;
}

.selectpicker{
  background-color: #8373A9;
}

.bootstrap-select > .dropdown-toggle {
  color: #ffffff !important;
}

.btn-dropdown{
  color: #ffffff;
  border: none;
  background-color: #8373A9;
  border-radius: 0px;
}

.btn-dropdown:hover{
  color: #ffffff;
  background-color: #604c8d;
}

.btn-dropdown:focus{
  color: #ffffff;
  background-color: #8373A9;
}

.btn-dropdown .open{
  color: #ffffff;
  background-color: #604c8d;
}

.list-booksmarks div.dropdown-menu{
  z-index: 6000;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
.btn-sticky{
  position: fixed;
  z-index: 3000;
	bottom: 80px;
}

.btn-sticky button{
  height: 55px;
  width: 45%;
}

.btn-sticky button img{
  height: 100%;
  width: 100%;
}

.btn-sticky button.btn-swipe img{
  width: 200%;
  margin-left: -8px;
}

.panel-sticky{
  display: none;
}
.panel-sticky .panel{
  margin-bottom: 0;
}

.panel-sticky .panel .panel-body{
  padding: 7px 1px;
}

.enllaca{
  cursor: pointer;
}

.jssocials-share, .jssocials-share-link{
    background-color: #604c8d !important;
}

.btn-xl {
  font-size: 20px;
  padding: 8px 10px;
  border-radius: 8px;
  margin: 5px 0px;
}

.links a{
  color: #ffffff;
}

.divider{
  border-left:1px solid white;
  margin: 0px 3px 0px 3px;
}

.btn-swipe svg {
  width: 225%;
  height: 100%;
  stroke: #868686;
  fill: #868686;
  margin-left: -10px;
}

.btn-sync svg, .btn-sidebyside svg {
  width: 140%;
  height: 125%;
  stroke: #868686;
  fill: #868686;
  margin-left: -13px;
  margin-top: -5px;
}

.btn-sync, .btn-sidebyside{
  border-width: 0px;
}

.btn-sync.actived svg, .btn-sidebyside.actived svg{
  stroke: #ffc200;
  fill: #ffc200;
}

.btn-options{
  -webkit-filter: hue-rotate(260deg) saturate(100) saturate(.2) brightness(220%);
  filter: hue-rotate(260deg) saturate(100) saturate(.2) brightness(220%);
}

@media (max-width: 768px) and (orientation:landscape) {

    header .title{
      display: none !important;
    }

    header .subtitle2{
      display: none !important;
    }

    footer div.links{
      display: none !important;
    }

    .btn-sticky{
      bottom: 15px;
    }

    footer{
      min-height: 0px;
    }

    .btn-xl {
      font-size: 14px;
    }
}

@media (max-width: 768px) and (orientation:portrait) {

}
